/*GENEREAL*/
* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    color:white;
}

.h3{
    color: red;
}

header{
    padding: 0.5rem 2rem;

}

/*HERO*/
.carousel.item{
    align-items: center;
}

/*SPAZIO IMMAGINE*/
#cosocaruccio{
    height: 500px;
    background-image: url(../immagini/cosocaruccio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/*FOOTER*/
#mainFooter {
    color:black;
    padding-top: 1rem;
    padding-bottom: 1rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.footerWrapper {
   text-align: right;
}
.footerSocial {
    text-align: left;
    font-size: 2rem;
}
.footerLegal {
    text-align: left;
   
}
.footerSection {
    width: 33.33%;

}
